export SESSION_SECRET=keyboard_cat
export PORT=8000
export MODE=local

export DEFAULT_ADMIN_EMAIL=admin@api-template.com
export DEFAULT_ADMIN_PASSWORD=admin

# Don't forget to change DB_HOST to "db" when launching with docker-compose
export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=app
export DB_USER=root
export DB_PASS=dbpass
export DB_URL=postgresql://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME

export REDIS_PORT=6379
export REDIS_HOST=localhost
export REDIS_PASS=redispass

export STUDIO_PORT=8001
