export SESSION_SECRET=keyboard_cat
export PORT=8000
export MODE=local

export DB_HOST=http://backend:3306
export DB_NAME=app
export DB_USER=root
export DB_PASS=1234

export REDIS_HOST=http://backend:6379
