export SESSION_SECRET=keyboard_cat
export PORT=8000
export MODE=dev

# This will set the DB_HOST to localhost in local mode, otherwise it will be set at 'db' (host enabled by docker-compose)
export DB_HOST=$([ "$MODE" == local ] && echo localhost || echo db)
export DB_PORT=5432
export DB_NAME=app
export DB_USER=root
export DB_PASS=dbpass
export DB_URL=postgresql://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME

export REDIS_PORT=6379
export REDIS_HOST=redis
export REDIS_PASS=redispass

export STUDIO_PORT=8001
