name: Lint

on:
  push:
    branches-ignore:
      - gh-pages

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Analyze the coding style
        run: npm run lint:ci
