name: Lint

on:
  push:
    branches-ignore:
      - gh-pages
    paths:
      - '**.ts'
      - package.json
      - package-lock.json
      - tsconfig.json
      - .eslintrc.js
      - .github/workflows/lint.yml

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14.x'

    - name: Install dependencies
      run: npm install

    - name: Analyze the coding style
      run: npm run lint:ci
