name: Publish types to Github npm package

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version (example : 3.2.0)"
        required: true

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        registry-url: 'https://npm.pkg.github.com'

    - name: Publish
      run: npm publish
